
.body {
    background: url(../../assets/image_2.png); 
    padding-top: 240px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.landingPage {
    width: calc(100% - 40px);
    margin: 0 auto;
    max-width: 1200px;
    
}


.header_text {
    font-size: 4rem;
    background: linear-gradient(to right, var(--heading-blue-start), var(--heading-blue-stop));
}
.desc_text {
    font-size: 3rem;
    background: linear-gradient(to right, var(--desc-blue-start), var(--desc-blue-stop));
}
.header_text, .desc_text {
    width: max-content;
    background-clip: text;
    color: transparent;
    font-family: var(--family-oswald);
}

.section2 {
    padding: 150px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.sec2Card {
    max-width: 450px;
    flex: 1;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: center;
}
.sec2Card * {
    font-family: var(--family-nunito);
    text-align: center;
}
.sec2Card > img {
    max-width: 200px;
    height: auto;
}
.sec2Card > h1 {
 font-size: 30px;
 font-weight: 800;
}
.sec2Card > h2 {
    font-size: 18px;
}



.section3 {
    display: flex;
}
.section3 > * {
    flex: 1;
}

.section3 > .left {
    padding: 10px;
    display: flex;
    align-items: center;

}
.section3 > .left > img {
    width: 100%;
}

.section3 > .right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    text-transform: capitalize;
    justify-content: center;
}
.section3 > .right  h1 {
    font-size: 44px;
    background: linear-gradient(to right, var(--desc-blue-start), var(--desc-blue-stop));
    width: max-content;
    background-clip: text;
    
    color: transparent;
    font-family: var(--family-oswald);
}
.section3 > .right  h2 {
    font-size: 54px;
    background: linear-gradient(to right, var(--heading-blue-start), var(--heading-blue-stop));
    width: max-content;
    background-clip: text;
    color: transparent;
    font-family: var(--family-oswald);
}
.section3 > .right > p {
    font-family: var(--family-orbit);
    font-size: 14px;
}




.section4 {
    padding: 50px 0;
}
.section4 > h1 {
    color: #4856C3;
    text-transform: capitalize;
    font-size: 55px;
    font-family: var(--family-oswald);
    word-spacing: 10px;
    letter-spacing: 5px;
}

.iconCards {
    display: grid;
    padding: 50px 0;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}
.iconCard {
    width: 100%;
}
.iconCard > a {
    display: block;
    padding-top: 5px;
    text-decoration: none;
    cursor: pointer;
    color: #2E46FF;
}
.iconCard > .card {
    height:250px;
    background: white;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.333);
}
.card > img {
    width: 100%;
    aspect-ratio: 1;
}
.card h1 {
    padding-top: 10px;
    font-size: 20px;
    font-family: var(--family-nunito);
    text-align: center;
}




.section5 {
    padding: 50px 0;
}

.parent {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 20px;
}
.parent > div {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.287);
    border-radius: 12px;
    overflow: hidden;
    display: grid;
    place-items: center;
}
.parent > div > img {
    height: 120px;
    width: 100%;
    object-fit: cover;
}
.parent > .div1 { grid-area: 1 / 1 / 5 / 5; }
.parent > .div2 {grid-area: 5 / 1 / 13 / 5; }
.parent > .div3 {grid-area: 13 / 1 / 17 / 5; }
.parent > .div4 {grid-area: 1 / 5 / 9 / 9; }
.parent > .div5 {grid-area: 9 / 5 / 17 / 9; }
.parent > .div6 {grid-area: 1 / 9 / 5 / 17; }
.parent > .div7 {grid-area: 5 / 9 / 10 / 13; }
.parent > .div8 {grid-area: 10 / 9 / 17 / 13; }
.parent > .div9 {grid-area: 5 / 13 / 12 / 17; }
.parent > .div10 { grid-area: 12 / 13 / 17 / 17; }