
.body {
    background: url(../../assets/image_2.png); 
    padding-top: 240px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.landingPage {
    width: calc(100% - 40px);
    margin: 0 auto;
    max-width: 1200px;
    
}


.header_text {
    font-size: 4rem;
    background: linear-gradient(to right, var(--heading-blue-start), var(--heading-blue-stop));
}
.desc_text {
    font-size: 3rem;
    background: linear-gradient(to right, var(--desc-blue-start), var(--desc-blue-stop));
}
.header_text, .desc_text {
    width: max-content;
    background-clip: text;
    color: transparent;
    font-family: var(--family-oswald);
}

.section2 {
    padding: 150px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.sec2Card {
    max-width: 450px;
    flex: 1;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: center;
}
.sec2Card * {
    font-family: var(--family-nunito);
    text-align: center;
}
.sec2Card > img {
    max-width: 200px;
    height: auto;
}
.sec2Card > h1 {
 font-size: 30px;
 font-weight: 800;
}
.sec2Card > h2 {
    font-size: 18px;
}